*{
    margin: 0;
    padding: 0;
}
.mun-text{
    background-color:#FFFFFF;
    display: grid;
    justify-content: center;
 }
 .mun-text h1{
 text-align: center;
 margin-top: 100px;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 text-align: center;
 color: #22343D;
 }
 .mun-ikonki{
     margin-top: 50px;
  background-image: url(./images/mun\ 1.png);
  background-repeat: no-repeat;
   height: 60vh;
   display: grid;
   grid-template-columns: 21% 21% 21% 21% ;
   justify-content:center;
 }
 .munjojo h1{
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 600;
 font-size: 22px;
 line-height: 33px;
 color: #22343D;
 }
 .munjojo p{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #22343D;
 }
 .munbottom{
 display:grid;
 justify-content: center;
 text-align: center;
 margin-top:-100px;
 }
 .munbottom a{
     padding:10px 30px 10px 30px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     text-decoration: none;
 background: #02897A;
 border-radius: 4px;
 }
 .munbottom a:hover{
     background-color: lightslategray;
     color:blue;
 }