*{
    margin: 0;
    padding: 0;
}
.mun-text{
    background-color:#FFFFFF;
    display: grid;
    justify-content: center;
 }
 .mun-text h1{
 text-align: center;
 margin-top: 100px;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 text-align: center;
 color: #22343D;
 }
 .mun-ikonki{
     margin-top: 50px;
  background-image: url(./images/mun\ 1.png);
  background-repeat: no-repeat;
   height: 60vh;
   display: grid;
   grid-template-columns: 21% 21% 21% 21% ;
   justify-content:center;
 }
 .munjojo h1{
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 600;
 font-size: 22px;
 line-height: 33px;
 color: #22343D;
 }
 .munjojo p{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #22343D;
 }
 .munbottom{
 display:grid;
 justify-content: center;
 text-align: center;
 margin-top:-100px;
 }
 .munbottom a{
     padding:10px 30px 10px 30px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     text-decoration: none;
 background: #02897A;
 border-radius: 4px;
 }
 .munbottom a:hover{
     background-color: lightslategray;
     color:blue;
 }
.Muhammadqaz{
width: 100%;
height: 523px;

}
.qaz1{
    
   margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.qazx{
    display: flex;
}
.qaz2 h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #22343D;

}
.qaz h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #22343D;
padding-top: 8px;
}
.qaz p{
    width: 486px;
    height: 52px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #22343D;
}
#qazh3_1{
    margin-top: 19px;
}
#qaz_p1{
    margin-top: 30px;
}
#qazh3_2{
    margin-top: 30px;
}
#qaz_p2{
    margin-top: 12px;
}
#qazh3_3{
    margin-top: 25px;
}
#qaz_p3{
    margin-top: 12px;
}

.qaz3 img{
    width: 439px;
    padding-left: 83px;
}
.nisa-footer {
    width: 100%;
    height: 105vh;
}
.nisa-footer .nisa-box {
    width: 70%;
    margin: auto;
    border-radius: 32px;
    background-color: #02897A;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nisa-footer .nisa-box .nisa-left {
    width: 60%;
    padding: 20px;
}
.nisa-footer .nisa-box .nisa-left h1 {
    font-size: 44px;
    color: white;
    font-weight: 600;
    
}
.nisa-footer .nisa-box .nisa-left h2 a {
    text-decoration: none;
    background-color: white;
    color: #02897A;
    padding: 15px;
    border-radius: 10px;
}
.nisa-footer .nisa-box .nisa-left h2{
    margin-top: 15%;
}
.nisa-footer .nisa-box .nisa-right {
    width: 40%;
}

.nisa-footer .nisa-block {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 8%;
    margin-left: 5%;
}
.nisa-footer .nisa-block .block-1 i {
    font-size: 30px;
    margin: 15px;
    color: #02897A;
    background: #EDFFFC;
    border-radius: 50%;
    padding: 5px;
}
.nisa-footer .nisa-block .miniblock-1 {
    display: flex;
    margin-top: -5%;
}
.nisa-footer .nisa-block .miniblock-1 h2 {
    font-size: 35px;
    color: #173A56;
}
.nisa-footer .nisa-block .block-1 img {
    width: 40px;
    height: 40px;
    margin-top: 15%;
    margin-right: 8%;
}
.nisa-footer .nisa-block h3 {
    font-size: 25px;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-2 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-3 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-4 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-4 h4 a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #02897A;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    
}
.nisa-footer .nisa-block a:hover {
    color: red;
}
.nisa-footer .nisa-block .block-4 input {
    width: 100%;
    height: 7vh;
    border-radius: 5px;
}
#footer a {
    text-decoration: none;
    color: black;
    margin-left: 45%;
}
#footer a:hover {
    color: red;
}
/*Mehroj Hakimov*/
.HM-obshi{
    width: 100%;
    height:100vh;
}
.HM-drn{
    display: grid;
    width: 90%;
    height: 80%;
    grid-template-columns: 45% 45%;
    padding-top: 100px;
    grid-template-rows: auto;
justify-content: center;
align-items: center;
}
.HM-divo1{
    width: 100%;
    height: 451px;
    margin-left: 70px;
}
.HM-divo2{
    width: 100%;
    height: 450px;
    margin-left: 150px;
}
.optim11{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #22343D;
}
.col11{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
padding-top: 10px;
line-height: 48px;
color: #22343D;
}
.few11{
    width: 486px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 25px;
    color: #22343D;    
}
.acc11{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;   
    padding-top: 25px; 
}
.whi11{
    width: 486px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 20px;
}
.alt11{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 25px; 
}
.if11{
    width: 486px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 20px;
}