*{
    margin: 0;
    padding: 0;
}
*{
    font-family: Poppins;
    font-weight: 600;
}
.navbar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.navar-left{
    display: flex;
    justify-content: space-around;
}
.n{
    width: 60px;
    height: 50px;
}
.n1{
    color: #173A56;
    font-size: 40px;
}
.navbar-rigth li{
     list-style: none;
     color: #22343D;
     font-size: 25px;
}
.amm{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 10px;
}
.n2{
    color: #173A56;
}
.right-one{
    width: 62px;
    height: 25px;
    background-color: #FFFFFF;
    color: #173A56;
    border: #173A56 1px solid;
    text-align: center;
    border-radius: 4px;
}
.right-two{
    width: 62px;
    height: 25px;
    background-color:#02897A;
    color: #FFFFFF;
    border: #02897A 1px solid;
    text-align: center;
    border-radius: 4px;
}
.right-one:hover{
    background-color: #02897A;
    color: #FFFFFF;
}
.right-two:hover{
    background-color: #FFFFFF;
    color: #02897A;
}
.all{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.c1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    color: #173A56;
    padding-bottom: 30px;
}
.c2{
    color: #22343D;
    font-size: 20px;
}
.container-AM{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.xat{
    width: 175px;
    height: 50px;
    background-color: #02897A;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
}
.xat:hover{
    color: #173A56;
    background-color: #FFFFFF;
}
.x1{
    font-size: 20px;
    padding-top: 12px;
}
.xaxa{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.x2{
    font-size: 20px;
    color: #02897A;
    padding-top: 15px;
}
.x2:hover{
    color: #173A56;
}
.x3{
    border: #02897A 1px solid;
    width: 140px;
}
.mun-text{
    background-color:#FFFFFF;
    display: grid;
    justify-content: center;
 }
 .mun-text h1{
 text-align: center;
 margin-top: 100px;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 text-align: center;
 color: #22343D;
 }
 .mun-ikonki{
     margin-top: 50px;
  background-image: url(./images/mun\ 1.png);
  background-repeat: no-repeat;
   height: 60vh;
   display: grid;
   grid-template-columns: 21% 21% 21% 21% ;
   justify-content:center;
 }
 .munjojo h1{
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 600;
 font-size: 22px;
 line-height: 33px;
 color: #22343D;
 }
 .munjojo p{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #22343D;
 }
 .munbottom{
 display:grid;
 justify-content: center;
 text-align: center;
 margin-top:-100px;
 }
 .munbottom a{
     padding:10px 30px 10px 30px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     text-decoration: none;
 background: #02897A;
 border-radius: 4px;
 }
 .munbottom a:hover{
     background-color: lightslategray;
     color:blue;
 }
.Muhammadqaz{
width: 100%;
height: 523px;

}
.qaz1{
    
   margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.qazx{
    display: flex;
}
.qaz2 h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #22343D;

}
.qaz h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #22343D;
padding-top: 8px;
}
.qaz p{
    width: 486px;
    height: 52px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #22343D;
}
#qazh3_1{
    margin-top: 19px;
}
#qaz_p1{
    margin-top: 30px;
}
#qazh3_2{
    margin-top: 30px;
}
#qaz_p2{
    margin-top: 12px;
}
#qazh3_3{
    margin-top: 25px;
}
#qaz_p3{
    margin-top: 12px;
}

.qaz3 img{
    width: 439px;
    padding-left: 83px;
}
.nisa-footer {
    width: 100%;
    height: 105vh;
}
.nisa-footer .nisa-box {
    width: 70%;
    margin: auto;
    border-radius: 32px;
    background-color: #02897A;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nisa-footer .nisa-box .nisa-left {
    width: 60%;
    padding: 20px;
}
.nisa-footer .nisa-box .nisa-left h1 {
    font-size: 44px;
    color: white;
    font-weight: 600;
    
}
.nisa-footer .nisa-box .nisa-left h2 a {
    text-decoration: none;
    background-color: white;
    color: #02897A;
    padding: 15px;
    border-radius: 10px;
}
.nisa-footer .nisa-box .nisa-left h2{
    margin-top: 15%;
}
.nisa-footer .nisa-box .nisa-right {
    width: 40%;
}

.nisa-footer .nisa-block {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 8%;
    margin-left: 5%;
}
.nisa-footer .nisa-block .block-1 i {
    font-size: 30px;
    margin: 15px;
    color: #02897A;
    background: #EDFFFC;
    border-radius: 50%;
    padding: 5px;
}
.nisa-footer .nisa-block .miniblock-1 {
    display: flex;
    margin-top: -5%;
}
.nisa-footer .nisa-block .miniblock-1 h2 {
    font-size: 35px;
    color: #173A56;
}
.nisa-footer .nisa-block .block-1 img {
    width: 40px;
    height: 40px;
    margin-top: 15%;
    margin-right: 8%;
}
.nisa-footer .nisa-block h3 {
    font-size: 25px;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-2 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-3 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-4 a {
    text-decoration: none;
    color: #22343D;
} 
.nisa-footer .nisa-block .block-4 h4 a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #02897A;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    
}
.nisa-footer .nisa-block a:hover {
    color: red;
}
.nisa-footer .nisa-block .block-4 input {
    width: 100%;
    height: 7vh;
    border-radius: 5px;
}
#footer a {
    text-decoration: none;
    color: black;
    margin-left: 45%;
}
#footer a:hover {
    color: red;
}
/*Mehroj Hakimov*/
.HM-obshi{
    width: 100%;
    height:100vh;
}
.HM-drn{
    display: grid;
    width: 90%;
    height: 80%;
    grid-template-columns: 45% 45%;
    padding-top: 100px;
    grid-template-rows: auto;
justify-content: center;
align-items: center;
}
.HM-divo1{
    width: 100%;
    height: 451px;
    margin-left: 70px;
}
.HM-divo2{
    width: 100%;
    height: 450px;
    margin-left: 150px;
}
.optim11{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #22343D;
}
.col11{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
padding-top: 10px;
line-height: 48px;
color: #22343D;
}
.few11{
    width: 486px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 25px;
    color: #22343D;    
}
.acc11{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;   
    padding-top: 25px; 
}
.whi11{
    width: 486px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 20px;
}
.alt11{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 25px; 
}
.if11{
    width: 486px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;  
    padding-top: 20px;
}
.BScontainer{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 100px 0px;
    margin: auto;
}
.BSpart1{
    width: 100%;
    display: grid;
    justify-items: center;
}
.BSpart2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BSpart2a h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.BSpart2b h2{
font-weight: 700;
font-size: 32px;
color: #22343D;
}
.BSpart2c p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 3vh;
color: #22343D;
}
.BSpart2d{
   display: flex;
   align-items: center;
}
.BSa{
    padding: 0px 36px 0px 0px;
}
.BSb p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #22343D;
}
.Nasim-container {
    height: 672px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
  .Nasim-top-container {
    height: 389.09px;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    background: #e5e5e5;
    border-radius: 50% 50% 0 0;
  }
  .Nasim-top-container h1 {
    margin-top: 52.54px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343d;
    margin-bottom: 16px;
  }
  .Nasim-top-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343d;
    margin-bottom: 32px;
  }
  
  .avotors-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  .avotors-sub-top {
    height: 98px;
    display: flex;
  }
  .avotors-sub-bottom {
    height: 98px;
    display: flex;
  }
  .avotors-image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
  }
  .avotors-image img {
    width: 100%;
  }
  .avotors-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2f281e;
    padding: 15px 25px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
  }
  .avotors-container p:hover{
    background: #02897a;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    color: #ffffff;
  }
  .avotors-text-right {
    margin-left: 41px;
    margin-top: 14px;
  }
  .avotors-text-left {
    margin-right: 41px;
    display: flex;
    align-content: center;
    margin-top: 14px;
  }
  .sub-margin {
    margin: 24px;
  }
  .absolute-spot1 {
    width: 17px;
    height: 17px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    /* border: 1px solid red; */
    top: 33%;
    left: 16.5%;
  }
  .absolute-spot2 {
    width: 17px;
    height: 17px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    /* border: 1px solid purple; */
    top: 33%;
    left: 73.5%;
  }
  .absolute-spot3 {
    width: 17px;
    height: 17px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    /* border: 1px solid green; */
    top: 83.5%;
    left: 15.5%;
  }
  .absolute-spot4 {
    width: 17px;
    height: 17px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    top: 83.5%;
    left: 86%;
  }
  .Nasim-bottom-container {
    height: 282.91px;
    background: #e5e5e5;
  }
  .Nasim-bottom-container a{
    display: block;
    width: 15%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 15px 30px;
    background: #02897a;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    border: 2px solid #02897a;
  }
  .Nasim-bottom-container a:hover{
    color: #02897a;
    background-color: #ffffff;
    border-color: #02897a;
  }
  
  